/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/*ヘッダ*/

header{
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
header ul{
	list-style: none;
	background-color: antiquewhite;
}
header li{
	margin-right: 30px; 
	text-align:right;
}
header img{
	height: 268px;
	width: 375px;
}


/*メニュー*/
aside{
	margin: auto -50px auto;
 	float: left;
 }

aside ul{ 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}
aside li.menuList{ 
	display: inline; 
	padding: 0; 
	margin: 0; 
}
aside li.menuList a{
	display: block; 
	border: 1px solid #9F99A3;
	-webkit-border-top-right-radius: 30px;
	-webkit-border-bottom-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	-moz-border-radius-bottomright: 30px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;

	background-color: #EEEEEE;
	padding: 10px 10px;
	text-align: right;
	text-decoration: none;
	color: #333;
	width: 130px; 
	margin: 15px 0px;
	font-size: 17px;
}
aside li.menuList a:hover{
	border: 1px solid #8593A9;
	background-color: #9EB7DD;
	margin-left: 20px;
	margin-right: -20px;
}



/*メインコンテンツ*/
 main{
 	margin: 0 auto;
 }

